<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="HomePage">
		<parameter name="browser" value="Chrome"></parameter>
		<classes>
			<class name="testScripts.HomePage.HomePage" />
		</classes>
	</test>

	<test thread-count="5" name="Motorcycle">
		<parameter name="browser" value="Chrome"></parameter>
		<classes>
			<class name="testScripts.Motorcycle.EnterVehicleData" />
			<class name="testScripts.Motorcycle.EnterInsuranceData" />
			<class name="testScripts.Motorcycle.EnterProductData" />
			<class name="testScripts.Motorcycle.SelectPriceOption" />
			<class name="testScripts.Motorcycle.SendQuote" />
		</classes>
	</test> 
</suite> <!-- Suite -->
